<!-- *******************************************  Container  ******************************************* !-->
		<div class="bg-white mx-auto rounded-lg shadow-lg py-1 px-3" style="min-height: 600px; width: 90%; min-height: max-content; display: table;">
			<!-- *******************************************  Author  ******************************************* !-->
			{{#if post }}
			<div class="postHeader">
				<img src="{{img}}" class="postAuthorPic">
				<div class="postInfo">
					<div class="postTitle">{{post.title}}</div>
					<div class="postTime">Started by {{post.comments.[0].authorUsername}}, {{post.comments.[0].postTime}}</div>
				</div>
			</div>


			<!-- *******************************************  Content  ******************************************* !-->
			<div class="pb-2 rounded-lg table contentContainer" style="min-height: max-content;">
				<div class="rounded-sm px-3 py-1 mb-2 repliesHeader" style="height: 35px;">
				{{post.numReplies}} replies to this topic
				</div>

			{{#each post.comments }}
			{{#validateUserComment authorUsername ../session operator="!="}}
				<!-- *******************************************  Reply Table  ******************************************* !-->
					<!-- *******************************************  User Reply  ******************************************* !-->
				<div class="w-100 userContainer">
					<input type="hidden" class="postID" value="0">
					<div class="rounded-sm px-2 mx-2 d-flex userReply" style="height: 35px;">
							<p class="replyUsername mr-auto h-100 py-1" style="width: max-content;">{{authorUsername}}</p>
							<p class="lead h-100" style="font-size: 12px; padding-top: 7px; width: max-content;">#{{commentID}}</p>
					</div>


					<!-- *******************************************  Reply Content  ******************************************* !-->
					<div class="mx-2 rounded d-flex replyContent" style="min-height: 50px;">
						<div class="replyProfile px-1 py-2">
								<a href="/profile/{{authorURL}}/overview"><img src="{{authorIMG}}" class="replyPic rounded"><br></a>
								Member<br>
								1 post
						</div>
						<div class="px-3 w-100">
							<div class="py-1 d-flex">
								<p class="postTime mr-auto">Posted {{postTime}}</p>
								<!--
								<button class="btn mx-1 reportBtn" id="reportBtn" style="display: none;">Report</button>
								<button class="btn quoteBtn" id="quoteBtn" style="display: none;">Quote</button>
								!-->
							</div>

							<div class="d-flex userMessage">
								{{content}}
							</div>
							<div class="my-3 d-flex" style="height: max-content;">
								<div class="mr-auto"></div>
								<button class="btn downvoteBtn btn-disabled" name="downvote{{commentID}}" id="downvote{{commentID}}"><i class="fas fa-thumbs-down"></i></button>
								<button class="btn mx-1 upvoteBtn btn-disabled" name="downvote{{commentID}}" id="downvote{{commentID}}"><i class="fas fa-thumbs-up"></i></button>
								<div class="upvoteCount" id="upvoteCount">{{voteScore}}</div>
							</div>
						</div>
					</div>
				</div>
				{{/validateUserComment}}


				{{#validateUserComment authorUsername ../session operator="=="}}
				<!-- *******************************************  Reply Table  ******************************************* !-->
					<!-- *******************************************  User Reply  ******************************************* !-->
				<div class="w-100 userContainer">
					<input type="hidden" class="postID" value="0">
					<div class="rounded-sm px-2 mx-2 d-flex userReply" style="height: 35px;">
							<p class="replyUsername mr-auto h-100 py-1" style="width: max-content;">{{authorUsername}}</p>
							<p class="lead h-100" style="font-size: 12px; padding-top: 7px; width: max-content;">#{{commentID}}</p>
					</div>


					<!-- *******************************************  Reply Content  ******************************************* !-->
					<div class="mx-2 rounded d-flex replyContent" style="min-height: 50px;">
						<div class="replyProfile px-1 py-2">
								<a href="/profile/{{authorURL}}/overview"><img src="{{authorIMG}}" class="replyPic rounded"><br></a>
								Member<br>
								1 post
						</div>
						<div class="px-3 w-100">
							<div class="py-1 d-flex">
								<p class="postTime mr-auto">Posted {{postTime}}</p>
								<!--
								<button class="btn mx-1 reportBtn" id="reportBtn" style="display: none;">Report</button>
								<button class="btn quoteBtn" id="quoteBtn" style="display: none;">Quote</button>
								!-->

							</div>

							<div class="d-flex userMessage">
								{{content}}
							</div>
							<div class="my-3 d-flex" style="height: max-content;">
								<div class="mr-auto"></div>
								<button class="btn downvoteBtn btn-disabled" name="downvote{{commentID}}" id="downvote{{commentID}}"><i class="fas fa-thumbs-down"></i></button>
								<button class="btn mx-1 upvoteBtn btn-disabled" name="downvote{{commentID}}" id="downvote{{commentID}}"><i class="fas fa-thumbs-up"></i></button>
								<div class="upvoteCount" id="upvoteCount">{{voteScore}}</div>
							</div>
							<button class="btn btn-danger btn-sm float-right mb-3 pb-1" data-toggle="modal" data-target="#exampleModalCenter">Delete</button>
							<form action="/update{{../post.url}}/{{commentID}}" method="POST">
								<input type="hidden" id="url" name="url" value="{{../post.url}}">
								<input type="hidden" id="comID" name="comID" value="{{commentID}}">
								<button class="btn btn-secondary btn-sm float-right mb-3 pb-1 mx-2">Edit</button>
							</form>

						</div>
					</div>
				</div>
				{{/validateUserComment}}

				{{/each}}
				</div>
			{{/if}}
				{{#if session}}
				<script type="text/javascript">
					if ($(".upvoteBtn").attr('class') == 'btn mx-1 upvoteBtn btn-disabled') {
				    $('.upvoteBtn').removeClass('btn-disabled');
				    $('.downvoteBtn').removeClass('btn-disabled');
				  }
				  else {
				    $('.upvoteBtn').addClass('btn-disabled');
				    $('.downvoteBtn').removeClass('btn-disabled');
				  }
				</script>
				<div class="pb-3" id="replyBox">
					<!-- *******************************************  Reply Box  ******************************************* !-->
					<div class="contentContainer mx-1 rounded d-flex" style="min-height: 50px; height: max-content;">
						<div class="p-3 d-flex" style="height: max-content">
							<a><img src="{{img}}" class="postAuthorPic rounded"></a>
						</div>

						<div class="px-3 mt-3  mb-2 w-100">
							<form class="" id="replyForm" style="display: grid;" action="/createReply" method="POST">
								<input type="hidden" id="url" name="url" value="{{post.url}}">
								<textarea class="ta w-100 form-control" id="ta" name="ta" rows="5" placeholder="Your message here...." form="replyForm"></textarea>
							</form>

							<div class="d-flex mt-2">
								<div class="mr-auto"></div>
								<button class="btn btn-dark" id="postBtn" type="submit" form="replyForm">Post</button>
							</div>
						</div>
					</div>
				</div>
			{{/if}}
			</div>
					